/* Main stiles */
.miniSlider {
	position: relative;
	overflow: hidden;
}
.miniSlider__wrapper {
	display: flex;
	transition: transform .6s ease; /* 0.6 slide change duration  */
}
.miniSlider__item {
	flex: 0 0 100%; /* number of active slides */
	max-width: 100%;
}

/* Styles for button */
.miniSlider__control {
	position: absolute;
	display: none;
	top: 50%;
	transform: translateY(-50%);
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 40px; /* button width */
	height: 50px; /* button height */
	opacity: .5; /* button opacity */
	background: #000; /* button bgc */
	z-index: 1000;
}
.miniSlider__control_show {
	display: flex;
}
.miniSlider__control:hover,
.miniSlider__control:focus {
	text-decoration: none;
	outline: 0;
	opacity: .9;
}
.miniSlider__control_left {
	left: 0;
}
.miniSlider__control_right {
	right: 0;
}
.miniSlider__control::before {
	content: '';
	display: inline-block;
	width: 20px; /* arrow icon width */
	height: 20px; /* arrow icon height */
	background: transparent no-repeat center center;
	background-size: 100% 100%;
}
.miniSlider__control_left::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.miniSlider__control_right::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Dots */
.miniSlider__dots {
	display: block;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 20px;
	z-index: 1000;
}
.miniSlider__dot {
	width: 15px;
	height: 15px;
	margin: 0 3px;
	
	border: 1px solid #000;
	background-color: #fff;
}
.miniSlider__dot.active {
	background-color: #000;
}
.miniSlider__dot:focus {
	outline: none;
}